# ---- ENV FILES ----
.env

# ---- PYTHON ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
.env/
venv/
ENV/
env/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# ---- DJANGO ----
staticfiles/
media/
db.sqlite3
local_settings.py